<!doctype html>
<html>

<head>
<title>Login page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
</head>

<body ng-app="myapp">
	<div>
		<h2>Login page</h2>
	</div>
	<div ng-controller="HelloController">
		<h2>Welcome {{helloTo.title}} to the world of Tutorialspoint!</h2>
	</div>

	<script>
		angular.module("myapp", [])

		.controller("HelloController", function($scope) {
			$scope.helloTo = {};
			$scope.helloTo.title = "AngularJS";
		});
	</script>

</body>
</html>

<!-- <!doctype html> -->
<!-- <html ng-app> -->
<!-- <head> -->
<!-- <title>Login page.</title> -->
<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<div> -->
<!-- 		<label>Login page:</label> <input type="text" ng-model="yourName" -->
<!-- 			placeholder="Enter your name"> -->
<!-- 		<hr> -->
<!-- 		<h1>Name {{yourName}}!</h1> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->

<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> -->
<!-- <html> -->
<!-- <head> -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<!-- <title>Spring and Angularjs Tutorial</title> -->
<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<h2>Spring and Angularjs Tutorial</h2> -->
<!-- 	<div class="home-section"> -->
<!-- 		<ul class="menu-list"> -->
<!-- 			<li><a href="#/gallery">Photo Gallery</a></li> -->
<!-- 			<li><a href="#/contactus">Contact</a></li> -->
<!-- 		</ul> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->